<ng-container [formGroup]="form">
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" [ngClass]="{ 'input-group-text-valid': password.valid }">
        <i class="fa fa-lock"></i>
      </span>
    </div>
    <input
      class="form-control"
      type="password"
      name="password"
      formControlName="password"
      placeholder="Enter password"
      (focus)="onPasswordFocus()"
      (blur)="onPasswordBlur()"
    />
  </div>
  <div class="alert alert-danger" *ngIf="password.touched && password.errors">
    {{errorMessage}}
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" [ngClass]="{ 'input-group-text-valid': repeatPassword.valid }">
        <i class="fa fa-lock"></i>
      </span>
    </div>
    <input
      class="form-control"
      type="password"
      name="repeatPassword"
      formControlName="repeatPassword"
      placeholder="Repeat password"
    />
  </div>
  <div class="alert alert-danger" *ngIf="repeatPassword.touched && repeatPassword.errors">
    {{secondErrorMessage}}
  </div>
</ng-container>
