.search-box {
  border: 3px solid #3a3e41;
  background: radial-gradient(circle, rgb(145 131 149 / 0%) 12%, rgb(0 0 0 / 0%) 90%);
  box-shadow: #4b2b2b;
}

.container {
  margin-bottom: 16px;
}

.search-title {
  font-size: 2em;
  color: darkgrey;
  font-family: 'georgia', cursive;
  margin: 12px 0;
}

.form-control:focus {
  border: 1px #828788;
  font-family: 'georgia', cursive;
  color: #AEB5BB7C;
  font-size: 1.6em;
}

.input {
  border: 1px #686a6c;
  font-family: 'georgia', cursive;
  font-size: 1.4em;
  background: #888A8D7C;
  transition: all .5s ease;
  box-shadow: none;
}

.form-control::placeholder {
  color: #878f8f;
}

.button-style {
  background-color: #606264;
  border-color: #33292900;
  color: darkgray;
  font-family: "georgia", cursive;
  font-weight: bold;
}

.button-style:hover {
  background-color: #3c424d;
}
