.button-style {
  color: darkgray;
  background-color: #606264;
  border-color: #33292900;
  font-family: "georgia", cursive;
  font-weight: bold;
}

.button-style:hover {
  background-color: #3c424d;
}

.item-style {
  color: #7a7474;
  font-family: 'georgia', Calibri, serif;
  font-weight: bold;
  background: radial-gradient(circle, #353637 12%, rgb(57 54 62) 90%);
}

.field {
  color: #594545;
}

.field > span {
  color: #7a7474;
}

.link:hover {
  color: #60646c;
}

.card {
  background-color: transparent;
  border: none;
  padding: 0;
  box-shadow: 0 0 20px 0 hsla(0, 4%, 51%, 0.45);
}

.card:hover {
  box-shadow: 0 0 20px 0 hsla(0, 6%, 73%, 0.45);
  transition: all .5s ease;
}

.row {
  margin: 16px 0;
}

.title {
  padding: 8px 0;
  text-align: center;
  font-size: 1.5em;
  color: darkgrey;
  font-family: 'georgia', cursive;
  font-weight: bold;
}

@media (min-width: 510px) {
  .col-lg-8 {
    flex: 0 0 auto;
    width: 62%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 38%;
  }

  .container {
    max-width: 660px;
  }
}

@media (min-width: 768px) {
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .container {
    max-width: 900px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1250px;
  }
}

@media (max-width: 620px) {
  .title {
    font-size: 18px;
  }
}

@media (max-width: 325px) {
  .container {
    width: 320px;
  }
}

