<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<div *ngIf="movie; else loading" class="card mb-1 card-color">
  <h2 class="card-header title">{{movie.title}}</h2>
  <div class="card-body movie-card-design">
    <img class="card-img" [src]="imageUrl" (load)="loadingImage()" onerror="this.src='assets/img-not-found.png'" alt="">
    <app-loading *ngIf="loadImage"></app-loading>
    <h6 class="release-date">Release date:
      <span>{{movie.release_date}}</span>
    </h6>
  </div>
  <div class="card-footer button-card">
    <button
      class="btn btn-primary button-style"
      [id]="movie.id"
      (click)="clickViewMovieDetails()"
    >View details
    </button>
  </div>
</div>
