.movie-card-width {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.button-style {
  background-color: #606264;
  border-color: #33292900;
  color: darkgray;
  font-family: "georgia", cursive;
  font-weight: bold;
}

.button-style:hover{
  background-color: #3c424d;
}

@media (max-width: 1182px) {
  .movie-card-width {
    flex: 0 0 auto;
    width: 33.333333%;
  }
}

@media (max-width: 612px) {
  .movie-card-width {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (max-width: 312px) {
  .movie-card-width {
    flex: 1 1 auto;
    width: 75%;
  }
}

@media (max-width: 212px) {
  .title {
    display: inline-block;
    text-align: center;
  }

  .button-position {
    float: inside;
    margin-right: 8px;
  }
}
