<ng-container [formGroup]="form">
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" [ngClass]="{ 'input-group-text-valid': firstName.valid }">
        <i class="fa fa-user"></i>
      </span>
    </div>
    <input
      class="form-control"
      type="text"
      name="firstName"
      formControlName="firstName"
      placeholder="First name"
    />
  </div>
  <div class="alert alert-danger" *ngIf="firstName.touched && firstName.errors">
    {{errorMessage}}
  </div>
</ng-container>
