<ng-container [formGroup]="form">
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" [ngClass]="{ 'input-group-text-valid': email.valid }">
        <i class="fa fa-user"></i>
      </span>
    </div>
    <input
      class="form-control"
      type="email"
      name="email"
      formControlName="email"
      placeholder="Email"
    />
  </div>
  <div class="alert alert-danger" *ngIf="email.touched && email.errors">
    {{errorMessage}}
  </div>
</ng-container>
